:root {
  --color-white: #f9f9f9;
  --color-black: #19191a;
}

/* theme: light */
body {
  margin: 0;
  font: 1rem/1.5 "Spoqa Han Sans Neo", Arial, sans-serif;
  background: var(--color-white);
  color: var(--color-black);
}

/* theme: dark */
.dark {
  background: var(--color-black);
  color: var(--color-white);
}